* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio common */
a{
    text-decoration: none;
    color: black;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.container{
    font-family: 'Open Sans', sans-serif;
}
/* fine common */

/* inizio debug */
header{
    /* background-color: lightcoral; */
    border-bottom: 2px solid #dcdcdc;
} 
nav ul{
    /* background-color: lightcyan; */
}
/* fine debug */

/* inizio header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 1.1vw;
    font-weight: 500;
}
nav ul li{
    display: inline-block;
    margin: 0 1.3vw;
} 
nav ul li:not(:first-child):hover{
    border-bottom: 2px solid black;
}
nav ul{
    height: 5vw;
    line-height: 5vw;
}
.float-right li{
    float:right;
}
#logo{
    width: 8vw;
    height: auto;
    vertical-align: middle;
}
#inizia{
    padding: 0.3vw 1.3vw;
    background-color: #3B85FF;
    color: white;
}
/* fine header */