* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* inizio common */
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.container{
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
}
.btn{
    padding: 0.4vw 1.3vw;
    background-color:#0061ff;
    color: white; 
    font-size: 1vw;
    border: none;
    margin: 0.5vw 0;
}
.btn-2{
    padding: 0.8vw 4.2vw;
}
.btn:hover{
    background-color: #3B85FF;;
}
.btn-3{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-3:hover{
    border: 1px solid gray;
    color: gray;
    background-color: white;
}
.w-90{
    width: 90%; 
    margin: 0 auto; 
}
.w-80{
    width: 80%; 
    margin: 0 auto; 
}
h3{
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 1vw;
}
h4{
    font-weight: 600;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}
ul{
    list-style: none;
}
h2{
    font-size: 3vw;
    margin-bottom: 3vw;
}
#center{
    margin: 0 3vw;
}
hr{
    margin: 2vw 0;
    width: 20%;
}
/* fine common */


/* inizio header */
header{
    width: 100%;
    position: fixed;
    z-index: 99; 
    top: 0;
    font-weight: 500;
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
}
nav ul li{
    display: inline-block;
    margin: 0 1.3vw;
} 
nav ul li:not(:first-child):hover{
    border-bottom: 2px solid black;
}   
nav ul{
    height: 4.5vw;
    line-height: 4.5vw;
}
.float-right li{
    float:right;
}
#logo{
    width: 8vw;
    height: auto;
    vertical-align: middle;
}
.supporto{
    position: relative;
}
#suppover{
    display: none;
    position: fixed;
    border: 1px solid #dcdcdc;
    left: 64%;
    text-align: center;
    z-index: 4;
    background-color: white;
    padding: 0.3vw;
}
#suppover a{
    display: block;
}
.supporto:hover #suppover{
    display: block;
}

/* fine header */


/* inizio main */
 
/* inizio jumbotron */    
.jbt-orizontal{
    font-size: 3.7vw;
    margin-bottom: 3vw;
}
.container-jumbotron{
    position: relative; 
    bottom:-6vw;
    padding-top: 4vw;
}
#jumbotron{
    background-color: #b4d0e7;
    margin-bottom: 15vw;
}
.jbt-vertical1{
    width: 30%;
    padding: 0 2vw 2vw 0;
    font-weight: 600;
}
.jbt-vertical1 p:first-child{
    margin: 0 0 2vw 0;
}
.jbt-vertical1 span{
    display: inline-block;
    font-weight: 600;
}
.jbt-vertical1 i{
    font-size: 3vw;
    margin-top: 3vw;
}
.jbt-vertical2{
    width: 70%;
}
.jbt-vertical2 img{
    max-width: 100%;
}
/* fine jumbotron */

/* inizio form fattura */
.fattura-form{
    margin-bottom: 3vw;
}
.radio{
    line-height: 1.3vw;
    display: inline-block;
    height: 1.2vw;
    width: 1.2vw;
    border-radius: 50%;
    border: 1px solid gray;
    vertical-align: middle;
}
.btn-on{
    border: 0.3vw solid #0061ff;
}
.radio-label{
    margin-right: 1vw;
}
/* inizio form fattura */

/* inizio piani business */

.plan-type li{
    margin: 1vw 0 0 1vw;
    margin-bottom: 2vw;
}
.plan-type  ul i{
    margin-left: -1.2vw;
}
.plan{
    width: 30.5%;
    border: 1px solid gray;
    display: inline-block;
    height: 70vw;
    vertical-align: middle;
}
.plan-title{
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1vw;
}
.plan-type  ul{
    margin-top: 2vw;
}
.feature{
    display: block;
    margin-bottom: 1vw;
}
#time{
    display: block;
    color: gray;
    font-weight: 600;
    margin-bottom: 3vw;
}
.plan-type{
    padding: 2vw;
}
.plan-type .btn-2{
    margin: 2vw 0 2vw 0;
}
#acquista-ora{
    color: #0061ff;
    font-weight: 600;
}
.fa-check{
    color: #0061ff;
     
}
.pt-salienti{
    display: block;
    margin: 2vw 0;
}
/* inizio piani business */

/* inizio contatta ufficio */
.contact-office{
    margin-top: 4vw;
    border: 1px solid gray;
}
.co-container{
    padding: 2vw;
}

.co-container p{
    margin-top: 2vw;
}
/* fine contatta ufficio */

/* inizio trova un partner */
.trova-partner{
    margin-top: 15vw;
    margin-bottom: 6vw;
}
.tp-img{
    width: 55%;
}
.tp-img img{
    max-width: 100%;
}
.tp-description{
    width: 45%;
    padding: 3vw 2vw 3vw 3vw;
}
.tp-description p{
    margin: 2vw 0;
    line-height: 2vw;
}
/* fine trova un partner */

/* inizio operazioni Dropbox */
.operation-dropbox{
    margin-bottom: 10vw;
}
.operation-container{
    display: inline-block;
    width: calc((100% / 3) - 2.2vw);
    margin-bottom: 4vw;
}
.operation-container img{
    max-width: 100%;
}
.operation-container h3{
    margin-bottom: 2vw;
}
/* fine operazioni Dropbox */

/* inizio dropbox team */
.dropbox-team a{
    color: #0061ff;
    font-weight: 600;
    text-decoration: underline;
}
.dropbox-team-title{
    margin-bottom: 4vw;
}
.team-logo{
    position: relative;
    width: 30vw;
    height: 30vw;
    background-color: lightgreen;
}
.team-description{
    width: calc(100% - 60vw);
    height: 30vw;
    padding: 3vw;
    background-color: #F5F5F5;
    overflow-y:auto;
    font-weight: 600;
}
.team-description img{
    width: 9vw;
}
.team-description p{
    margin-bottom: 2vw;
}
.logo-container{
    text-align: center;
    line-height: 15vw;
    position: absolute; 
    display: inline-block;
    height: 15vw;
    width: 15vw;
}
.lc1{
    top: 0;
    left: 0;
    background-color: #A2D39B;
    border: 1vw solid rgba(255, 255, 255, 0.5);
}
.lc2{
    top: 0;
    right: 0;
    background-color: #61082B;
}
.lc3{
    bottom: 0;
    left: 0;
    background-color: #0093CE;
}
.lc4{
    bottom: 0;
    right: 0;
    background-color: #FF1C1C;
}
.team-logo2 .lc1{
    background-color: #D5001F;
    border: none;
}
.team-logo2 .lc2{
    background-color: #B4D0E7;
}
.team-logo2 .lc3{
    background-color: #0D2481;
}
.team-logo2 .lc4{
    background-color: #FFD830;
}
.logo-container img{
    max-width: 65%;
    vertical-align: middle;
    filter: invert(1);
}
.team-bottom{
    background-color: #b4d0e7;
    color: #61082B;
    margin-bottom: 10vw;
}
.team-bottom button{
    border: none;
}
.team-bottom button:hover{
    border: none;
}
.team-bottom .float-left{
    margin: 6vw 0 4vw 0;
    width: 50%;
}
/* fine dropbox team */

/* inizio domande frequenti */
.container-dom{
    font-weight: 600;
    padding: 2vw 0;
    border-bottom: 1px solid gray;
}
.container-dom:first-of-type{
    border-top: 1px solid gray;
    margin-top: 3vw;
}
.domande i{
    font-size: 1.3vw;
    margin-right: 2vw;
}
.risposte{
    margin-top: 2vw;
    display: none;
    color: gray;
}
.domande{
    margin-bottom: 5vw;
}
.container-dom:hover .risposte{
    display: block;
    border: none;
}
/* fine domande frequenti */

/* fine main */


/* inizio footer */
footer{
    background-color: black;
    color: white;
    font-size: 1vw;
    padding: 3vw;
}

footer ul{
    display: inline-table;
    margin: 3vw 4vw 5vw;
}
footer h5{
    font-size: 1.2vw;
    margin-bottom: 1vw;
}
.bottom-footer{
    color: gray;
    margin-left: 4vw;
}
.bottom-footer hr{
    width: 9%;
}
/* fine footer */